

VBox {
    -fx-padding: 8px;
    -fx-spacing: 2px;

    -fx-border-color: purple;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    -fx-font-weight: bold;

}
VBox:hover {
    -fx-background-color: rgba(128, 0, 128, 0.8);
    -fx-cursor: hand;

}
